.header {
  position: sticky;
  top: 0;
  background-color: var(--headerBgColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem;
  gap: 2rem;

  .searchBar {
    flex-basis: 60%;
  }

  .navContainer {
    margin-left: auto;
  }
}
