.header {
  position: sticky;
  top: 0;
  background-color: var(--headerBgColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2.5rem;
  justify-content: center;

  .searchBar {
    flex-basis: 50%;
  }
}

@media (width <= 770px) {
  .header {
    padding: 12px;
    justify-content: space-between;
    gap: 1rem 1.5rem;

    .searchBar {
      order: 2;
      flex-basis: 100%;
    }

    .menuItemText {
      display: none;
    }
  }
}
