.categories {
  padding: 1rem;
  background-color: #f5f0e6;

  .categories__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    gap: 1rem;
    list-style: none;
  }
}

@media (width <= 600px) {
  .categories {
    padding: 0.5rem;
  }
}
