.categories {
  padding: 1rem;
  background-color: #f5f0e6;

  .categories__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
  }
}

@media (width <= 600px) {
  .categories {
    padding: 0.2rem 0.5rem;

    .categories__list {
      justify-content: space-evenly;
    }
  }
}
