.product {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 1rem;

  .product__imgContainer {
    height: 20rem;
  }

  .product__img {
    display: block;
  }
}

@media (width < 800px) {
  .product {
    .product__imgContainer {
      height: 18rem;
    }
  }
}
