.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-sm {
  gap: 0.65rem;
}

.ml-auto {
  margin-left: auto;
}

.decoration-none {
  text-decoration: none;
}

.font-sm {
  font-size: 1.25rem;
}

.text-primary {
  color: var(--textColor);
}

.mb-sm {
  margin-bottom: 0.65rem;
}

.page-title {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}
