:root {
  --primaryColor: #ffbe00;
  --bodyBgColor: #f1f5f9;
  --textColor: #1c1c1c;
  --fontFamily: "Outfit", sans-serif;
  --headerBgColor: #fff;
  --screen-sm: 480px;
  --screen-md: 768px;
  --screen-lg: 1024px;
}
