.header {
  background-color: var(--headerBgColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2.5rem;
  justify-content: center;
  border-bottom: 1px solid #dbdde8;
  flex: 0 0 auto;
}

@media (width <= 768px) {
  .header {
    padding: 12px;
    justify-content: space-between;
    gap: 1rem 1.5rem;

    .menuItemText {
      display: none;
    }
  }
}
