@import "/src/styles/variables.css";
@import "/src/styles/utils.css";
@import "/src/styles/buttons.css";

body {
  background-color: var(--bodyBgColor);
  font-family: var(--fontFamily);
  color: var(--textColor);
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.25rem;
}

* {
  padding: 0;
  margin: 0;
}
